.clickMe{
    display: block;
    margin: 20px auto;
    background: crimson ;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 5%;
    font-size: 30px;
    cursor: pointer;
}

.popupWrapper{
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.popup{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height: 200px;
    max-width: 400px;
    margin: 10%, auto;
    padding: 20px;
    background: white;
    position: relative;
    top: 20%;
    left: 30%;
}



.popup a{
    background: crimson;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 5%;
}

.subscribe{
    display: inline-block;
}

.subscribe input{
    padding: 9px 30px;
    /* border: 5px solid red; */
}

.popupClose{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
